 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



.container{
   
   
   height: 50%;
  background-color: rgb(180, 230, 137);
  margin: 20px;
}
.maincontainer{
  height: 30rem;
  width: 100%;
  display: flex;
  
  background-color: rgb(229, 241, 123);
}
.fcont{
height: auto;

background-color: rgb(168, 181, 144);

}

.async{
  background-color: azure;
  border-radius: 20px;
  height: 16rem;
  width: 16rem;
  margin-top: 15rem;
  
}
.asyncCont{
display: flex;
  height: 70rem;
  width: 70rem;
  justify-content: space-around;
background-color: rgb(145, 145, 222);


}
